body{

background:#111;
color:white;
text-align:center;
font-family:Arial;

}

#menu{

margin-top:20px;

}

.character{

padding:12px;
margin:8px;
cursor:pointer;
border-radius:8px;
display:inline-block;
font-weight:bold;

}

.common{background:#555;}
.epic{background:purple;}
.legendary{background:gold;color:black;}
.mythic{background:red;}

#game{

display:none;
position:relative;

}

canvas{

background:#70c5ce;
border:3px solid white;

}

#gameOverScreen{

position:absolute;
top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.8);

display:none;
flex-direction:column;
justify-content:center;
align-items:center;

font-size:30px;

}

#gameOverScreen button{

padding:12px 25px;
font-size:18px;
cursor:pointer;
margin-top:20px;

}
