@font-face{
font-family: "Burbank";
src: url("fonts/burbank.ttf") format("truetype");
}
body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
}
h2{
font-family: "Burbank", sans-serif;
font-size: 26px;
letter-spacing: 1px;
}
canvas{
background:#1e293b;
border:3px solid white;
display:none;
margin:auto;
}

button{
font-family: "Burbank", sans-serif;
padding:14px 20px;
margin:8px;
font-size:18px;
border-radius:8px;
border:none;
background:#3b82f6;
color:white;
cursor:pointer;
transition: all 0.6s ease;
}

button:hover{
transform: translateY(-5px);
}


#com{
        background: linear-gradient(to top, rgb(194, 107, 8), rgb(110, 49, 3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px brown;
}

#unco{
        background: linear-gradient(to top, rgb(81, 162, 255), rgb(0, 140, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px rgb(104, 179, 255);
}

#epic{
        background: linear-gradient(to top, rgb(81, 36, 215), rgb(167, 52, 250));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px rgb(120, 17, 199);
}

#leg{
        background: linear-gradient(to top, rgb(248, 194, 0), rgb(230, 150, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px rgb(255, 205, 43);
}

#myth{
        background: linear-gradient(to top, rgb(194, 8, 8), rgb(110, 10, 3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px red;
}

#emp{
        background: linear-gradient(to top, rgb(0, 42, 113), rgb(0, 119, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px rgb(91, 143, 255);
}

#eter{
        background: linear-gradient(to top, rgb(210, 208, 208), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5pxpx rgb(89, 89, 89);
}

.common{
background-color: brown;
}

.common:hover{
    translate: Y(2px);
    background-color: rgb(249, 18, 18);
    box-shadow: 0px 0px 10px brown;
}

.unco:hover{
    background-color: #003486;
    box-shadow: 0px 0px 10px blue;
}

.epic{
    background-color: rgb(43, 0, 128);
}
.epic:hover{
    box-shadow: 0px 0px 10px purple;
    background-color: purple;
}
.leg{
    background-color: rgb(255, 170, 0);
}
.leg:hover{
    box-shadow: 0px 0px 10px rgb(250, 153, 8);
    background-color: rgb(253, 193, 40);
}

.myth{
    background-color: rgb(158, 2, 2);
}
.myth:hover{
    background-color: darkred;
    box-shadow: 0px 0px 10px darkred;
}

.emp{
    background-color: #003486;
}

.emp:hover{
    background-color: black;
    box-shadow: 0px 0px 10px #003486;
}

.eter{
    background-color: white;
    color: black;
}

.eter:hover{
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px white;
}
